@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h2>@Html.DisplayFor(model => model.Name)</h2>
<p>
  @Html.DisplayNameFor(model => model.Cuisine):
  @Html.ActionLink(Html.DisplayTextFor(model => model.Cuisine.Type), "Details", "Cuisines", new { id = Html.DisplayTextFor(model => model.CuisineId) })
</p>
<p>@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)</p>

<p>@Html.ActionLink("Edit Restaurant", "Edit", new { id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Delete Restaurant", "Delete", new { id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>